.box {
  max-width: 600px;
  min-width: 600px;
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 25px;
}

li {
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
}
.col-5 small {
  margin-top: 600px;
  position: relative;
  font-size: 16px;
  top:-32px;
}
.col-5 strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: rgb(33, 33, 33)
}
